<!DOCTYPE html>
<html lang="en">
<head>
  <title>MAN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <script>
    // This function sets the form action and submits the form
    function setAction(action) {
      var form = document.getElementById("imageForm");
      form.action = action;
      form.submit();  // Submit the form after setting the action
    }
  </script>
	<script>
function openWin() {
  window.open("https://bit.ly/3P5xHzk");
}
</script>
</head>
<body>

<div class="container">
  <h1 class="jumbotron bg-primary">Color-Based Defect Detection System using OpenCV, ML and Clustering</h1>
  <br><br>
  <form class="form-horizontal" id="imageForm" method="post" enctype="multipart/form-data">

    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Upload Your Image :</label>
      <div class="col-sm-10">          
        <input type="file" class="form-control" name="my_image" id="pwd">
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <!-- Use buttons with type="button" to avoid immediate form submission -->
        <button type="button" class="btn btn-success" onclick="setAction('/submit')">Submit</button>
        <button type="button" class="btn btn-success" onclick="setAction('/submitDefect')">Submit Defect</button>
        <button type="button" class="btn btn-success" onclick="setAction('/submitnotDefect')">Submit Not Defect</button>
	      <button type="button" class="btn btn-success" onclick="setAction('/train')">Re-Train Model</button>
	        <button type="button" class="btn btn-success" onclick="setAction('/del')">Delete Existing Data</button>
	       <button type="button" class="btn btn-success" onclick="openWin()">Check Existing Data</button>
      </div>
    </div>
  </form>


	{% if prediction %}
  <!-- <img src="{{img_path}}" height="1000px" width="1000px"> -->
    <!-- <p> Extracted Text  : <i> {{extracted_text}} </i></p>
	<p><i> {{prediction}} </i></p> -->
    <span style="font-size: 20; margin: 21px 0; display: block;">
      <p> Download File (lasts 24 hours): <a href="{{uploaded_image_url}}">{{uploaded_image_url}}</a> </p>



    <p><b>{{ prediction|safe }}</b></p>
      </span>

	{% endif %}

</div>







</body>
</html>


